Here, I'm just writing a file that contains the data for mturk annotation.

In [1]:
import pandas as pd

In [127]:
df = pd.read_csv('all_systems.csv', encoding='utf8')

In [128]:
df = df[['audible_text', 'aud_clean', 'stanford']]

In [129]:
import random
import codecs
df['aud_clean'].replace(['B-P', 'I-P'], 'Person', inplace=True)
df['aud_clean'].replace(['O-'], 'Not an entity', inplace=True)
df['aud_clean'].replace(['B-L', 'I-L'], 'Location', inplace=True)
df['aud_clean'].replace(['B-O', 'I-O'], 'Organization', inplace=True)
df['stanford'].replace(['B-P', 'I-P'], 'Person', inplace=True)
df['stanford'].replace(['O-'], 'Not an entity', inplace=True)
df['stanford'].replace(['B-L', 'I-L'], 'Location', inplace=True)
df['stanford'].replace(['B-O', 'I-O'], 'Organization', inplace=True)
locations = df[df['aud_clean']!=df['stanford']].index.tolist()
#samples = random.sample(locations, 200)
out_text1 = []
out_word = []
out_text2 = []
out_audlab = []
out_stanlab = []
for j in locations:
    out_text1.append(' '.join(df.iloc[i, 0] for i in range(j-15, j)))
    out_word.append(df.iloc[j, 0])
    out_text2.append(' '.join(df.iloc[i, 0] for i in range(j+1, j+15)))
    out_audlab.append(df.iloc[j, 1])
    out_stanlab.append(df.iloc[j, 2])

In [130]:
outdat = pd.DataFrame({'text1':out_text1,
                      'word':out_word,
                      'text2':out_text2,
                      'aud':out_audlab,
                      'stan':out_stanlab})

outdat = outdat.copy()
outdat.head()

,aud,stan,text1,text2,word
0,Not an entity,Location,was gay . My father hounded him without mercy ...,", "" she said . But I was all out of Purple Hea...",Seine
1,Not an entity,Location,"himself in the Seine , "" she said . But I was ...",Hearts and had decided that Honoria was going ...,Purple
2,Not an entity,Location,"in the Seine , "" she said . But I was all out ...",and had decided that Honoria was going to leav...,Hearts
3,Person,Not an entity,. My determination suddenly dissipated when I ...,"' handyman , with his son and Sister Molly nex...",Chalonses
4,Person,Not an entity,out the front window and saw the Chalonses ' h...,"Molly next to him , turn into my driveway . "" ...",Sister

In [131]:
outdat_a = outdat.copy().reset_index()
outdat_b = outdat.copy().sample(frac=1).reset_index()
outdat_c = outdat.copy().sample(frac=1).reset_index()
outdat_d = outdat.copy().sample(frac=1).reset_index()
outdat_e = outdat.copy().sample(frac=1).reset_index()
a_cols = [i + '_a' for i in outdat_a.columns.values]
b_cols = [i + '_b' for i in outdat_b.columns.values]
c_cols = [i + '_c' for i in outdat_c.columns.values]
d_cols = [i + '_d' for i in outdat_d.columns.values]
e_cols = [i + '_e' for i in outdat_e.columns.values]
outdat_a.columns = a_cols
outdat_b.columns = b_cols
outdat_c.columns = c_cols
outdat_d.columns = d_cols
outdat_e.columns = e_cols
outdat_b.head()

,index_b,aud_b,stan_b,text1_b,text2_b,word_b
0,1096,Not an entity,Person,the wall at waist height . He 'd seen such a t...,", he and his friends called them . Queers look...",Holes
1,1187,Organization,Not an entity,he 'd built up an immunity to come-hither smil...,"leggings and no make-up , her face rosy-cheeke...",Lycra
2,2059,Not an entity,Person,surely chosen the picture he considered the wo...,picked an experimental still life of a pitcher...,Matisse
3,1373,Organization,Not an entity,"antidragon grenade from his vest pocket and , ...","Transfinite Transformations , hurled it with a...",of
4,1707,Organization,Person,that the Steins were becoming serious collecto...,paid another visit to Derain in Chatou . This ...,Vollard

In [132]:
temp = pd.concat([outdat_a, outdat_b, outdat_c, outdat_d, outdat_e], axis=1)
temp.columns

Index([u'index_a', u'aud_a', u'stan_a', u'text1_a', u'text2_a', u'word_a',
       u'index_b', u'aud_b', u'stan_b', u'text1_b', u'text2_b', u'word_b',
       u'index_c', u'aud_c', u'stan_c', u'text1_c', u'text2_c', u'word_c',
       u'index_d', u'aud_d', u'stan_d', u'text1_d', u'text2_d', u'word_d',
       u'index_e', u'aud_e', u'stan_e', u'text1_e', u'text2_e', u'word_e'],
      dtype='object')

In [133]:
temp.to_csv('mturk.csv', index=False, encoding='utf8')

In [54]:
len(locations)

2721

In [134]:
300/60

5

In [51]:
outdat.head(10)

,aud,stan,text1,text2,word
0,Location,None,merchants and rag-and-bone men . At the edge o...,", in or near the rue Norvins , Modigliani",Maquis
1,None,Person,"but his boots slipped in the bruised grass , and","broke free . He ran , only to fall",Summers
2,Person,None,according to the old sidereal laws . ' All this,"read one day from a book , yellowed with",Trurl
3,Organization,None,"' remarked Picasso . 8 . New Tensions , New","In Montmartre that November , Leo Stein made a...",Opportunities
4,Person,Location,someone about one of the doctors who was here ...,"was a mental hospital . "" She lost interest",Grandview
5,Person,None,coroner saw no reason to doubt it . Why 's,"Campbell stirring it up again now , in any",Doctor
6,Person,None,"on , then put her hand on one of the",lids . Aidan noticed the range cooker had gone,Rayburn
7,Person,None,Perhaps it had n't been on the dresser . Maybe,had been about to make a call and then,Ivy
8,None,Person,""" he asked . "" He 's staying at the",home . Everett was married to Patsy — must,LeBlanc
9,Organization,None,", put them in touch with the organizers of the","d'Automne , who by now included Derain as well",Salon

In [56]:
2721*5

13605

In [63]:
13605/5

2721

In [66]:
(2721*.3)*1.2

979.56